##
/build-x[68][46]-debug/*
!/build-x[68][46]-debug/.gitignore
/build-x[68][46]-release/*
!/build-x[68][46]-release/.gitignore
node_modules/

## Visual Studio temporary files
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

*.log

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Other Visual Studio Files
~$*
*.pfx
# SQL Server files
*.mdf
*.ldf
*.vcxproj
*.vcxproj.filters

## Mumble ignores
*.pdb
*.sln
*.sdf
*.suo
*.aps
*.vcxproj
*.vcxproj.*
*~
*.pb.h
*.pb.cc
*.pro.user
ui_*.h
doxygen/
.tags
